.title {
    margin-bottom: 80px;
}
.title h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
  
.title p {
font-size: 12px;
}
  
.title h1, .title p {
    text-align: center;
    line-height: 10px;
    color: #525252;
}